@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --radius-4xl: 2rem;
  --font-outfit: 'Outfit', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-space-grotesk: 'Space Grotesk', sans-serif;
  --font-geist: 'Geist', sans-serif;
  --font-geist-sans: 'Geist Sans', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
  --font-heading: var(--font-outfit);
  --font-body: var(--font-inter);
  --color-secondary: rgb(255, 49, 49);
  --text-secondary: rgb(255, 49, 49);
}

@keyframes move-x {
  0% {
    transform: translateX(var(--move-x-from));
  }
  100% {
    transform: translateX(var(--move-x-to));
  }
}

/* Define custom utilities for fonts */
@utility font-outfit {
  font-family: var(--font-outfit);
}
@utility font-inter {
  font-family: var(--font-inter);
}
@utility font-heading {
  font-family: var(--font-heading);
}
@utility font-body {
  font-family: var(--font-body);
}
@utility font-space-grotesk {
  font-family: var(--font-space-grotesk);
}

@utility font-geist-sans {
  font-family: var(--font-geist-sans);
}

@utility font-geist-mono {
  font-family: var(--font-geist-mono);
}



@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-black text-white font-inter text-base;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-outfit text-white;
  }
}
